{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb/base",
  "rules": {
    "no-console": [0]
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  }
}
